
* {
    padding:0;
    margin:0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    box-sizing: border-box;
}


header {
    height: 70px;
}

.logo {
    width: 25px;
    height: auto;
    padding: 10px;
    display: inline-block;
    float: left;
}


header h1 {
    display: inline-block;
    float: left;
    padding: 15px 15px;
    text-transform: uppercase;
}

header h1 a {
    transition: .3s;
}

header h1 a:hover {
    color: #8B5F4A ;
}

header ul { 
    float: right;

}

header ul li {
    padding: 24px;
    display: inline-block;
} 

header ul li a {
    transition: .3s;
}

header ul li a:hover {
    color: #8B5F4A;
}

a {
    text-decoration: none;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.container-content {
    background-color: black;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px; 
}
.mobile-menu:hover {
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(28, 40, 51, .9);
    transition: .3s;
    z-index: 9999;
}

.sidebar ul li a {
    color: #fff;
}
.sidebar ul li {
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}
.sidebar ul li:hover {
    background-color: #7B7D7D  ;
}
#check:checked ~ .sidebar {
    left: 0;
}
.banner {
    background-image: url('../Cinema.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 320px 0;
}
section {
    padding: 50px 0;
}
.banner img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 12px;
}
.banner h2,
.banner p,
.banner span {
    color: #fff;
}
.banner h2 {
    margin-bottom: 2px;
}
.banner p {
    font-size: 20px;
}
.banner-left{
    padding-left: 0px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: white;
    left: calc(50% - 60px);
}

section h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 5px;
    background-color: white;
    left: calc(50% - 20px);
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px 32px;
}
 
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 15px;
}
 
.articles article {
    max-width: 320px;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
}

.articles article a {
    display: inline-flex;
    color: white;
    text-decoration: none;
}


.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: white;
    transition: color 0.3s ease-out;
}
  
  
.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
  
.article-preview {
    padding: 24px;
    background: #8B5F4A;
}

.articles figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.articles figure img {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.5); 
}

/* Button */

.centering .button {
    margin-left: 45%;
    margin-top: 20px;
    border: 0px solid;
    outline: 2px solid;
    color: white;
    outline-color: white;
    outline-offset: 0px;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px; 
    width: 100%; 
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 550ms cubic-bezier(
        .36,.63,.5,.73
    );
    align-content: center;

}

.centering .button:hover {
    border: 2px solid #FF9950;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: var #FF9950;
}

.collapse {
    justify-content: flex-end;
}

.main{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

.audio{
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    background-color: white;
    color: white;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 1em;
    border-radius: 5px;
}

.audio img{
    width: 200px;
    height: 200px;
    margin: 0.5em;
}

.audio h2{
    font-weight: 400;
    font-size: medium;
    margin: 0.5em;
    color: black;
}

.audio p{
    font-size: small;
    font-weight: 200;
    text-align: center;
    margin: 0.5em;
    color: black;
}

.main.audio .music audio{
    width: 100%;
    outline: none;
}

.main .audio .music audio::-webkit-media-controls-enclosure {
    background: none;
}

.footer {
    text-align: center;
}
.footer .lyrics {
    font-size: 12px;
    text-transform: uppercase;
}

.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}


footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
}
footer small {
    color: #fff;
}
html {
    scroll-behavior: smooth;
}


#Contact {
    background-color: black;
}

@media (max-width: 768px){
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
    .col-4 {
        width: 25%;
    }
    .col-4 {
        height: 20%;
    }
    .col-3 {
        width: 100%;
    }
}